@font-face {
	font-family: "KG Girl On Fire";
	src: url(fonts/KGGirlOnFire.ttf);
}

.bar {
	float: left;
	font-family: "KG Girl On Fire";
	font-size: 28px;
	margin: 0;
	padding: 0;
}

.baritself {
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #e26a8d;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

.squareimages {
	width: 100px;
	
}

.topbar {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	-webkit-transition: background-color 4s;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

.active {
	background-color: #f2b1c4;
	color: #707070;
}

.name{
	width: 100%;
	color:#e26a8d;
	text-align: center;
	font-size: 75px;
	font-style: bold;
	font-family: "KG Girl On Fire";
}

.name2 {
	width: 100%;
	text-align: center;
	font-size: 50px;
	font-style: bold;
	font-family: "KG Girl On Fire";
}

.bottombar {
	position: fixed;
	bottom: 0;
	z-index: -1;
}

.container {
	display: flex;
	padding: 10px;
	justify-content: center;
	font-family: "KG Girl On Fire";

}

.item {
	font-size: 28px;
}

.columnsoverall {
	display: flex;
	flex-direction: row;
}

.containeroverall {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.leftcolumn{
	width: 30%;
	background-color: mistyrose;
	padding: 15px;
}

main {
	text-align: center;
}

section {
	text-align: center;
	display: inline-block;
}

.column1 {
	width: 30%;
	background-color: mistyrose;
	padding: 5px;
}

.column2 {
	width: 30%;
	background-color: mistyrose;
	padding: 5px;
}

.column3 {
	width: 30%;
	background-color: mistyrose;
	padding:3px;
}


.rightcolumn{
	width: 70%;
	padding: 15px;
}

.floating-box {
	display: inline-block;
	width: 200px;
	height: 75px;
	margin: 10px;
	border: 3px solid #73AD21;
}

.project {
		font-family: "KG Girl On Fire";
	font-size: 25px;
	color: #e26a8d;
	font-weight: bold;
}

.designer {
	font-family: "KG Girl On Fire";
	font-size: 20px;
	font-weight: bold;
	margin-top: 8px;

}

.pinksquare {
	width: 200px;
	text-shadow: 2px 2px 8px #FF0000;

}

.secondrow {
	clear: right;     
}

.resumename {
	font-size: 3em;
	font-family: "KG Girl On Fire";
}

h2 {
	font-family: "KG Girl On Fire";
	color: #e26a8d;
	margin: 0;
}

h3 {
	font-family: "KG Girl On Fire";

}


a {
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
	color: #e26a8d;
}

h1 {
	color: #e26a8d;
}

.header {
	color: #e26a8d;
	font-family: "KG Girl On Fire";
}

.resumename {
	text-align: left;
	color: #e26a8d;
	margin-bottom: 0px;
}



.thingsidid {
	background-color: white;

}

.middlelinks {
	text-align: center;
	color: #e26a8d;
	font-family: "KG Girl On Fire";
	font-size: 25px;
}

div {
	width: 75%;
	margin: 0 auto;
}

@media (max-width: 1000px) {
  body{
    background-color: white;
  }
  .baritself {
  	background-color: cadetblue;
  }
  .middlelinks {
  	background-color: slategrey;
  	color: white;
  }
  .pinksquare {
  	width: 125px;
  }
}

@media (max-width: 500px) {
  body{
    background-color: white;
  }
  .baritself {
  	background-color: mediumvioletred;
  }
  .pinksquare {
  	background-color: mistyrose;
  	width: 75px;
  }
  .name {
  	font-size: 40px;
  }
}

